NAME : VISHWAKARMA POOJA RAMASHANKAR 
SR.NO : 00-0-0-40-52-22-1-21633

Steps:
Created the 776.csv dataset and utilized SVM and MLP classification.

In [1]:
# Importing libraries
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import joblib
from scipy import stats
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [2]:
data_df = pd.read_csv("../data/RawLeakData/776.csv")
print(data_df.shape)
print(data_df["Meter ID"].unique())
data_df["Date"] = pd.to_datetime(data_df["Date"], errors='coerce')
data_df["Time"] = pd.to_datetime(data_df["Time"], errors='coerce')
data_df['Date'] = data_df['Date'] +  pd.to_timedelta(data_df['Time'].dt.hour, unit='h')
data_df['Date'] = data_df['Date'] +  pd.to_timedelta(data_df['Time'].dt.minute, unit='m')
data_df = data_df.drop(['Time'],axis=1)
data_df = data_df.set_axis(['Leak', 'Date', 'Flowrate', 'Netflow', 'Pressure', 'ID'], axis=1)
data_df.loc[(data_df["ID"] == 'S1DM0301'), "ID"] = 1
data_df.loc[(data_df["ID"] == 'S1DM0501'), "ID"] = 2
data_df.loc[(data_df["ID"] == 'S1DM0401'), "ID"] = 3
data_df.loc[(data_df["ID"] == 'S1DM0402'), "ID"] = 4
data_df.loc[(data_df["ID"] == 'SW2DM1002'), "ID"] = 5
data_df.loc[(data_df["ID"] == 'S1DM0403'), "ID"] = 6

filtered_df1 = data_df.loc[(data_df['ID'] == 1)]
filtered_df2 = data_df.loc[(data_df['ID'] == 2)]
filtered_df3 = data_df.loc[(data_df['ID'] == 3)]
filtered_df4 = data_df.loc[(data_df['ID'] == 4)]
filtered_df5 = data_df.loc[(data_df['ID'] == 5)]
filtered_df6 = data_df.loc[(data_df['ID'] == 6)]

dta = pd.merge(
    pd.merge(
        pd.merge(
            pd.merge(
                pd.merge(filtered_df1, filtered_df2, on='Date', suffixes=("_1", "_2")),
                filtered_df3, on='Date', suffixes=("_3", "_4")
            ),
            filtered_df4, on="Date", suffixes=("_5", "_6")
        ),
        filtered_df5, on="Date", suffixes=("_7", "_8")
    ),
    filtered_df6, on="Date", suffixes=("_9", "_10")
)
# Apply z-score normalization and filtering for Flowrate columns
for i in range(1, 11):
    flowrate_column = f"Flowrate_{i}"
    if flowrate_column in dta.columns:
        # Convert the column to numeric type to exclude non-numeric values
        dta[flowrate_column] = pd.to_numeric(dta[flowrate_column], errors='coerce')
        dta = dta[(np.abs(stats.zscore(dta[[flowrate_column]], nan_policy='omit')) < 2).all(axis=1)]

# Apply z-score normalization and filtering for Pressure columns
for i in range(1, 11):
    pressure_column = f"Pressure_{i}"
    if pressure_column in dta.columns:
        # Convert the column to numeric type to exclude non-numeric values
        dta[pressure_column] = pd.to_numeric(dta[pressure_column], errors='coerce')
        dta = dta[(np.abs(stats.zscore(dta[[pressure_column]], nan_policy='omit')) < 2).all(axis=1)]
dta.loc[:,"LeakStatus"] = 0
dta.loc[(dta['Date'] >= '2017-10-05') & (dta['Date'] <= '2017-11-12'), "LeakStatus"] = 1
# TODO: To check with Sir
# fig, axs = plt.subplots(1, 1)
# #plt.ylim((0,20))
# plt.xticks(rotation=90)
# axs.scatter(dta["Date"],dta["Pressure_2"], marker='*', s=1)
# #axs.scatter(filtered_pdf2["Date"],filtered_pdf2["Pressure"], c='g', marker='.', s=1)
# #axs.scatter(filtered_pdf3["Date"],filtered_pdf3["Pressure"], c='r', marker='.', s=1)
# #axs.scatter(filtered_pdf4["Date"],filtered_pdf4["Pressure"], c='y', marker='.', s=1)
# axs.axvline(x = pd.Timestamp('2017-12-09'), color = 'r')
# Creating the directory if it doesn't exist
output_directory = "../data/EachLeakData"
if not os.path.exists(output_directory):
    os.makedirs(output_directory)
dta.to_csv("../data/EachLeakData/776.csv", index=False)

(302931, 7)
['S1DM0301' 'S1DM0501' 'S1DM0401' 'S1DM0402' 'SW2DM1002' 'S1DM0403']

/var/folders/wv/c6by5h8d0tz81wvfwp8rr4g40000gn/T/ipykernel_16320/318883156.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_df["Time"] = pd.to_datetime(data_df["Time"], errors='coerce')

In [3]:
print(dta.shape)
print(dta.isna().sum())
print(dta.columns)
dta

(22288, 32)
Leak_1         0
Date           0
Flowrate_1     0
Netflow_1      0
Pressure_1     0
ID_1           0
Leak_2         0
Flowrate_2     0
Netflow_2      0
Pressure_2     0
ID_2           0
Leak_5         0
Flowrate_5     0
Netflow_5      0
Pressure_5     0
ID_5           0
Leak_6         0
Flowrate_6     0
Netflow_6      0
Pressure_6     0
ID_6           0
Leak_9         0
Flowrate_9     0
Netflow_9      0
Pressure_9     0
ID_9           0
Leak_10        0
Flowrate_10    0
Netflow_10     0
Pressure_10    0
ID_10          0
LeakStatus     0
dtype: int64
Index(['Leak_1', 'Date', 'Flowrate_1', 'Netflow_1', 'Pressure_1', 'ID_1',
       'Leak_2', 'Flowrate_2', 'Netflow_2', 'Pressure_2', 'ID_2', 'Leak_5',
       'Flowrate_5', 'Netflow_5', 'Pressure_5', 'ID_5', 'Leak_6', 'Flowrate_6',
       'Netflow_6', 'Pressure_6', 'ID_6', 'Leak_9', 'Flowrate_9', 'Netflow_9',
       'Pressure_9', 'ID_9', 'Leak_10', 'Flowrate_10', 'Netflow_10',
       'Pressure_10', 'ID_10', 'LeakStatus'],
      dtype='object')

,Leak_1,Date,Flowrate_1,Netflow_1,Pressure_1,ID_1,Leak_2,Flowrate_2,Netflow_2,Pressure_2,...,Flowrate_9,Netflow_9,Pressure_9,ID_9,Leak_10,Flowrate_10,Netflow_10,Pressure_10,ID_10,LeakStatus
0,1,2016-10-01 00:15:00,911.42,1565488.0,4.24,1,1,19.92,312424.8,4.60,...,135.16,1353585.0,2.16,5,1,0.01,134374.9,1.32,6,0
1,1,2016-10-01 00:30:00,871.93,1565706.0,4.52,1,1,19.88,312429.7,4.84,...,140.97,1353620.0,2.36,5,1,0.04,134374.8,1.36,6,0
2,1,2016-10-01 00:45:00,869.01,1565923.0,4.72,1,1,20.19,312434.8,4.96,...,135.40,1353654.0,2.44,5,1,0.00,134374.8,1.32,6,0
3,1,2016-10-01 01:00:00,831.33,1566131.0,5.00,1,1,19.96,312439.8,5.12,...,153.78,1353693.0,2.52,5,1,0.00,134374.8,1.36,6,0
4,1,2016-10-01 01:15:00,829.50,1566338.0,5.12,1,1,20.19,312444.8,5.24,...,151.00,1353730.0,2.64,5,1,0.00,134374.8,1.36,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33993,1,2018-04-02 13:00:00,779.27,14118690.0,7.24,1,1,0.71,398088.9,1.36,...,23.78,2599087.0,1.04,5,1,0.01,314397.5,1.64,6,0
33994,1,2018-04-02 13:15:00,788.54,14118890.0,7.04,1,1,0.75,398089.0,1.44,...,29.23,2599094.0,1.12,5,1,0.00,314397.5,1.64,6,0
33995,1,2018-04-02 13:30:00,798.70,14119090.0,7.36,1,1,0.73,398089.2,1.32,...,25.95,2599100.0,1.12,5,1,0.00,314397.5,1.64,6,0
33996,1,2018-04-02 13:45:00,765.16,14119280.0,7.80,1,1,0.80,398089.3,1.36,...,21.62,2599105.0,1.12,5,1,0.00,314397.5,1.72,6,0
33997,1,2018-04-02 14:00:00,722.73,14119460.0,8.08,1,1,0.62,398089.5,1.44,...,26.49,2599112.0,1.04,5,1,0.02,314397.4,1.64,6,0

In [4]:
# Selecting the features and target
X = dta[['Leak_1', 'Flowrate_1', 'Pressure_1', 'Flowrate_2', 'Pressure_2',
         'Flowrate_5', 'Pressure_5', 'Flowrate_6', 'Pressure_6',
         'Flowrate_9', 'Pressure_9', 'Flowrate_10', 'Pressure_10']]
y = dta['LeakStatus']
print(X)
print(y)
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

       Leak_1  Flowrate_1  Pressure_1  Flowrate_2  Pressure_2  Flowrate_5  \
0           1      911.42        4.24       19.92        4.60       63.42
1           1      871.93        4.52       19.88        4.84       68.87
2           1      869.01        4.72       20.19        4.96       63.40
3           1      831.33        5.00       19.96        5.12       68.97
4           1      829.50        5.12       20.19        5.24       66.58
...       ...         ...         ...         ...         ...         ...
33993       1      779.27        7.24        0.71        1.36        0.00
33994       1      788.54        7.04        0.75        1.44        0.00
33995       1      798.70        7.36        0.73        1.32        0.00
33996       1      765.16        7.80        0.80        1.36        0.00
33997       1      722.73        8.08        0.62        1.44        0.00

       Pressure_5  Flowrate_6  Pressure_6  Flowrate_9  Pressure_9  \
0            2.36       16.44        1.16      135.16        2.16
1            2.52       14.35        1.20      140.97        2.36
2            2.96       15.13        1.16      135.40        2.44
3            3.12       15.02        1.16      153.78        2.52
4            3.48       16.06        1.20      151.00        2.64
...           ...         ...         ...         ...         ...
33993        1.16        0.00        2.48       23.78        1.04
33994        1.12        0.00        2.48       29.23        1.12
33995        1.12        0.00        2.44       25.95        1.12
33996        1.12        0.00        2.44       21.62        1.12
33997        1.16        0.00        2.44       26.49        1.04

       Flowrate_10  Pressure_10
0             0.01         1.32
1             0.04         1.36
2             0.00         1.32
3             0.00         1.36
4             0.00         1.36
...            ...          ...
33993         0.01         1.64
33994         0.00         1.64
33995         0.00         1.64
33996         0.00         1.72
33997         0.02         1.64

[22288 rows x 13 columns]
0        0
1        0
2        0
3        0
4        0
        ..
33993    0
33994    0
33995    0
33996    0
33997    0
Name: LeakStatus, Length: 22288, dtype: int64
       Leak_1  Flowrate_1  Pressure_1  Flowrate_2  Pressure_2  Flowrate_5  \
21094       1      596.38        5.88        0.00        1.44        0.00
26818       1      792.20        4.72        1.72        1.44        0.00
19335       1     1007.48        2.68        0.00        1.44        0.00
17239       1     1047.13        3.04       14.37        6.20        0.00
11873       1     1133.87        3.32        3.35        0.00        0.00
...       ...         ...         ...         ...         ...         ...
19076       1     1220.80        0.00        0.00        1.28      158.69
32903       1      831.45        3.56        1.14        1.28        0.10
9135        1     1143.58        1.88        6.21        3.84        0.00
1368        1     1214.27        0.00        8.89        1.64        0.00
24417       1      718.63        0.00        0.00        1.44        0.00

       Pressure_5  Flowrate_6  Pressure_6  Flowrate_9  Pressure_9  \
21094        0.00        0.00        1.16      211.60        2.88
26818        1.12        0.00        2.16       82.74        3.80
19335        0.00        0.00        0.00       70.80        4.36
17239        1.20        0.00        2.00       73.25        1.92
11873        1.12        0.00        2.20       43.56        2.48
...           ...         ...         ...         ...         ...
19076        0.00        0.00        1.72       20.21        0.00
32903        1.04        0.00        2.16      219.22        0.00
9135         1.16        0.00        0.00      214.14        1.36
1368         0.00       11.69        1.20       70.61        1.72
24417        1.12        0.00        2.20      178.11        2.36

       Flowrate_10  Pressure_10
21094         0.00         1.32
26818         0.00         1.44
19335         0.00         2.08
17239         0.00         1.92
11873         0.45         1.88
...            ...          ...
19076         0.01         2.44
32903         0.00         1.56
9135          0.00         0.00
1368          0.00         1.32
24417         0.00         1.32

[17830 rows x 13 columns]
       Leak_1  Flowrate_1  Pressure_1  Flowrate_2  Pressure_2  Flowrate_5  \
9198        1      803.18        5.24       15.61        4.24        0.00
21690       1     1121.91        3.32        0.00        1.32        0.00
32234       1     1093.61        1.60        0.87        1.28        0.31
15485       1      745.01        0.00       16.07        4.56        0.00
15110       1     1059.81        4.96        0.00        1.36        0.00
...       ...         ...         ...         ...         ...         ...
6312        1     1158.10        1.80        5.28        3.08        0.00
7997        1     1000.02        4.24        0.00        0.00        0.00
28657       1     1172.61        1.16        6.49        2.00       58.56
20599       1      980.61        1.36        0.10        1.28        0.00
8803        1      744.25        5.44       19.59        4.00        0.00

       Pressure_5  Flowrate_6  Pressure_6  Flowrate_9  Pressure_9  \
9198         0.00        0.00        0.00      304.02        2.36
21690        0.00        0.00        0.00       25.82        2.48
32234        1.04        0.00        2.04      204.07        0.00
15485        1.16        0.00        2.08      173.88        1.76
15110        0.00        0.00        2.16        7.95        0.00
...           ...         ...         ...         ...         ...
6312         0.00        0.00        0.00      162.36        1.20
7997         1.12        0.00        0.00       42.47        4.12
28657        0.00        0.46        0.00       95.83        0.00
20599        0.00        0.00        1.48      172.85        2.08
8803         1.04        0.00        0.00      119.33        2.64

       Flowrate_10  Pressure_10
9198          0.00         1.48
21690         0.00         1.36
32234         0.00         1.32
15485         0.55         1.56
15110         0.00         2.04
...            ...          ...
6312          0.93         2.64
7997          0.22         2.60
28657         0.00         1.32
20599         0.00         2.48
8803          0.19         2.48

[4458 rows x 13 columns]
21094    0
26818    0
19335    0
17239    0
11873    0
        ..
19076    0
32903    0
9135     0
1368     0
24417    1
Name: LeakStatus, Length: 17830, dtype: int64
9198     0
21690    0
32234    0
15485    0
15110    0
        ..
6312     0
7997     0
28657    0
20599    0
8803     0
Name: LeakStatus, Length: 4458, dtype: int64

In [ ]:
modelDir = '../data/EachLeakModel'
if not os.path.exists(modelDir):
    os.makedirs(modelDir)
    
# Defining the models to evaluate
models = [
    ('SVM', SVC(C=3000000.0, kernel='rbf', class_weight='balanced')),
    ('MLP', MLPClassifier(hidden_layer_sizes=(1000, 100, 10), activation='relu', max_iter=3000000000))
]

# Loop through each model and evaluate
for name, model in models:
    # Training the model on the training data
    model.fit(X_train, y_train)
    # Saving the trained model 
    ModelName = os.path.join(modelDir, f'{name}_776.pkl')
    joblib.dump(model, ModelName)
    # Making predictions on the test data
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {accuracy:.2f}")
    print(f'Train Accuracy: {model.score(X_train, y_train)}')
    print(f'Test Accuracy: {model.score(X_test, y_test)}')
    print(f"{name} Classification Report:\n{classification_report(y_test, y_pred)}")

    # Printing the first 25 rows of predictions and actual values
    # print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.values.reshape(len(y_test), 1)), axis=1)[:25])

    # Confusion matrix
    conf_matrix = confusion_matrix(y_test, y_pred)
    print(conf_matrix)